

.weather-metrics-grid {
    display: grid;
    grid-template:"weather-type weather-temp" 
                  "weather-wind weather-pressure weather-humidity";
    grid-template-rows: auto auto;
    font-size: 0.9rem;
}.weather-widget {
    color: #fff;
    display: grid;
    gap: 10px;
}

.weather-date-row {
    display: flex;
    justify-content: space-between;
    font-weight: 700;

}

.weather-main-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.weather-type {
            font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
    background-color: black;
    
}

.weather-temp {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
}

.weather-metrics-grid {
    display: grid;
    grid-template-areas:
  "weather-type weather-temp ."
  "weather-wind weather-pressure weather-humidity";
    grid-template-rows: auto auto;
    font-size: 0.9rem;
    row-gap: 0.5rem;
}
.weather-wind {
    grid-area: weather-wind;
}   
.weather-pressure {
    grid-area: weather-pressure;
}
.weather-humidity {
    grid-area: weather-humidity;
}
.border1 .border2 {
    border-right: 1px solid red;
    
}